/* /Views/Shared/Error.cshtml.rz.scp.css */


a.navbar-brand[b-9zf6m58mlw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9zf6m58mlw] {
  color: #0077cc;
}

.btn-primary[b-9zf6m58mlw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9zf6m58mlw], .nav-pills .show > .nav-link[b-9zf6m58mlw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9zf6m58mlw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9zf6m58mlw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9zf6m58mlw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9zf6m58mlw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9zf6m58mlw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/Status.cshtml.rz.scp.css */


a.navbar-brand[b-73r9au91jz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-73r9au91jz] {
  color: #0077cc;
}

.btn-primary[b-73r9au91jz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-73r9au91jz], .nav-pills .show > .nav-link[b-73r9au91jz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-73r9au91jz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-73r9au91jz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-73r9au91jz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-73r9au91jz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-73r9au91jz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_Layout.cshtml.rz.scp.css */


a.navbar-brand[b-za9nft2jn2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-za9nft2jn2] {
  color: #0077cc;
}

.btn-primary[b-za9nft2jn2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-za9nft2jn2], .nav-pills .show > .nav-link[b-za9nft2jn2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-za9nft2jn2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-za9nft2jn2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-za9nft2jn2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-za9nft2jn2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-za9nft2jn2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_NavLink.cshtml.rz.scp.css */


a.navbar-brand[b-h68xzu460j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-h68xzu460j] {
  color: #0077cc;
}

.btn-primary[b-h68xzu460j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-h68xzu460j], .nav-pills .show > .nav-link[b-h68xzu460j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-h68xzu460j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-h68xzu460j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-h68xzu460j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-h68xzu460j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-h68xzu460j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
